:root {
    /* --color-dark: #df7861; */
    /* --color-dark: #94b49f;

    --color-light: #fcf8e8;
    --color-hover: rgb(231, 235, 116);
    --color-board: #df7861; */
    /* --color-board: #94b49f; */

    /* FFEDDB */
    --color-dark: #ad6989;
    --color-light: #ffeddb;
    --color-board: #562349;
}

* {
    font-family: "Arima", cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* ---------------------------------------------------
                    General Section
---------------------------------------------------- */
body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-light);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
    height: 30px;
    background-color: var(--color-dark);
    padding: 0.5%;
    text-align: center;
}

h1 {
    margin: 10px;
}

/* --------------------------------------------------
                Main Section
-------------------------------------------------*/

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* --------------------------------------------------
                    Form 
-------------------------------------------------*/
.form .input-text {
    height: 27px;
    padding: 3px;

    border: none;
    border-bottom: 2px solid var(--color-board);
    background-color: var(--color-light);

    margin: 7px;
}

.form-button {
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: var(--color-board);
    color: var(--color-light);
    cursor: pointer;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.513),
        0 17px 50px 0 rgba(0, 0, 0, 0.409);
}

/* --------------------------------------------------
                uploadImg Section
-------------------------------------------------*/

.uploadImg-section {
    text-align: center;
    width: 100%;
}

.uploadImg-section h1 {
    font-family: "Fredericka the Great", cursive;
    font-size: 72px;
}

.hidden {
    display: none;
}
label {
    cursor: pointer;
}

.form-upload {
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-upload .select-img {
    margin-right: 10px;
}

.form-upload .add-button {
    margin-left: 10px;
}

.add-button {
    width: 40px;
}

/* --------------------------------------------------
                Board Section
-------------------------------------------------*/
.board-section {
    width: 100%;
    padding: 0 2%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}

/* --------------------------------------------------
                Card
-------------------------------------------------*/

.card {
    background-color: whitesmoke;
    border: 3px solid var(--color-board);
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    padding: 1%;
}

.card img {
    width: 100%;
    height: 80%;
    box-shadow: 0px 0px 25px 5px rgba(180, 180, 180, 0.72);
    flex-grow: 1;
    object-fit: cover;
}

.card .title {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    /* align-self: flex-end; */
    align-items: flex-end;
}

/* --------------------------------------------------
                Small Card
-------------------------------------------------*/
.small-card {
    /* width: 300px;
    height: 250px;
    margin: 1%; */

    width: 60vh;
    height: 50vh;
    margin: 1.4%;
}

/* --------------------------------------------------
                More button
-------------------------------------------------*/

.more-button {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    padding: 10px;
}

.more-button .round-button {
    border-radius: 50%;
}

/* --------------------------------------------------
                pop up Card
-------------------------------------------------*/

.popup-card {
    width: 80%;

    padding: 10px;
    position: absolute;

    margin: 1% 10%;
    z-index: 2;

    background-color: white;
}

.close-icon {
    font-size: 20px;
    text-align: right;
    width: 100%;
}

/* --------------------------------------------------
                Popup Content
-------------------------------------------------*/

.popup-content {
    width: 100%;
    /* height: 100%; */

    display: flex;
    flex-direction: row;
}

.image-info {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

/* --------------------------------------------------
                Big Card
-------------------------------------------------*/

.big-card {
    /* width: 900px;
    height: 600px; */

    width: 60%;
    /* height: 600px; */
    margin: 10px;
}

.big-card h1 {
    text-align: center;
    margin-bottom: 0px;
}

.big-card .image-description {
    text-align: center;
    font-size: 20px;
}

.card-info {
    flex-grow: 2;
}

.overlay {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    position: fixed;
    background-color: rgba(0, 0, 0, 0.501);
    z-index: 1;
}

/* --------------------------------------------------
                Comment
-------------------------------------------------*/
.comment-section {
    width: 40%;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.old-comments {
    height: 100px;
    flex-grow: 2;
    overflow-y: scroll;
}

.old-comments .image-info {
    text-align: left;
}

.old-comments .comment-card {
    margin: 15px 0px;
}

.form-comment {
    width: 100%;

    align-self: flex-end;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border: 2px solid var(--color-board);
}

.form-comment button {
    width: 100px;
    margin: 10px;
}

.form-comment textarea {
    width: 100%;
    padding: 5px;
    border: none;
}
.form-comment .input-text {
    width: 100%;
    background-color: white;
}

/* --------------------------------------------------
                Arrow
-------------------------------------------------*/

.popup-content .arrow {
    width: 40px;
    text-align: center;
    border-radius: 12px;
    /* background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(231, 227, 227, 1) 50%,
        rgba(254, 254, 254, 0) 100%
    ); */

    /* background: rgb(255, 255, 255);
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0) 0%,
        rgba(231, 227, 227, 1) 50%,
        rgba(254, 254, 254, 0) 100%
    ); */
    /* background-color: gainsboro; */
}

.popup-content .arrow:hover {
    background-color: var(--color-board);
    color: var(--color-light);
}

@media screen and (max-width: 1280px) {
    .popup-card {
        width: 90%;
        margin: 1% 5%;
    }

    /* .comment-section {
        height: 620px;
    } */

    .form-comment {
        width: 98%;
    }
}

/* 
NOTE: 
-clean input after submit!
-date in comments!
-big screens see arrange the display!



*/
