:root {
    /* --color-dark: #df7861; */
    /* --color-dark: #94b49f;

    --color-light: #fcf8e8;
    --color-hover: rgb(231, 235, 116);
    --color-board: #df7861; */
    /* --color-board: #94b49f; */

    /* FFEDDB */
    --color-dark: #ad6989;
    --color-light: #ffeddb;
    --color-board: #562349;
}

* {
    /* background-color: aquamarine; */
    /* background-color: var(--color-light); */

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* ---------------------------------------------------
                    General Section
---------------------------------------------------- */
body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-light);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    height: 40px;
    width: 100%;
    background-color: var(--color-dark);
}

main {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
    height: 30px;
    background-color: var(--color-dark);
    padding: 0.5%;
}
h1 {
    margin: 10px;
}

/* --------------------------------------------------
                Main Section
-------------------------------------------------*/

#main {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* --------------------------------------------------
                Form Section
-------------------------------------------------*/

.uploadImg-section {
    text-align: center;
}

.form-upload {
    margin: 20px;
}
.form-upload .input-text {
    height: 27px;
    padding: 3px;

    border: none;
    border-bottom: 2px solid var(--color-board);
    /* background-color: none; */
    background-color: var(--color-light);

    margin: 7px;
}

.add-button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    /* border: 2px solid var(--color-light); */
    background-color: var(--color-board);
    color: var(--color-light);
}

.add-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.513),
        0 17px 50px 0 rgba(0, 0, 0, 0.409);
}

/* --------------------------------------------------
                Board Section
-------------------------------------------------*/
.board-section {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.card {
    width: 300px;
    height: 250px;

    background-color: whitesmoke;
    border: 3px solid var(--color-board);
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    margin: 10px;
    padding: 1%;
}

.card img {
    width: 100%;
    height: 80%;
    /* border: 1px solid gray; */
    box-shadow: 0px 0px 25px 5px rgba(180, 180, 180, 0.72);
    flex-grow: 1;
    object-fit: cover;
}

.card .title {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    /* align-self: flex-end; */
    align-items: flex-end;
}

/* --------------------------------------------------
                Big Card
-------------------------------------------------*/

.bigCard {
    width: 500px;
    height: 500px;

    position: absolute;
    background-color: aliceblue;
    border: 2px solid var(--color-board);
    border-radius: 12px;
}
